.headbox{
width: 120px;
height: 40px;
background-color: white;
border-radius: 3px;

}
.father-text{
    position: absolute;
    margin-left: 88px;
}
a:link, a:visited {
    
    color: white;
   padding: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(7, 164, 226);
  }
  .imad-size{
    padding-top: 70px;
  }
  .navbar-scrolled{
    
    position: fixed;
    width: 100%; 
    z-index: 1;
  }
  #scrolldown {
    transition: top 0.3s;
  }